In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Create year list for loop
year_list = ['2021', '2020', '2019', '2018', '2017', '2016']

In [3]:
combined_vehicle_df = pd.DataFrame()

# Estasblish for loop
for i in year_list:
    str='https://afdc.energy.gov/vehicle-registration?year='
    final_str = str+ i
    
    # Read in HTML tables into a DataFrame
    df = pd.read_html(final_str)

    # Select table
    vehicle_df = df[0]
    
    # Drop Level
    vehicle_df.columns = vehicle_df.columns.droplevel()
    
    # Add column
    vehicle_df["Year"] = i
    
    # Concatanate the dataframes 
    combined_vehicle_df = pd.concat([vehicle_df, combined_vehicle_df])

In [4]:
combined_vehicle_df

,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Compressed Natural Gas (CNG),Propane,Hydrogen,Methanol,Gasoline,Diesel,Year
0,Alabama,500,900,29100,0,428300,20100,0,0,0,3777300,126500,2016
1,Alaska,200,200,5000,0,55700,4900,0,0,0,525900,44800,2016
2,Arizona,4700,4400,89600,0,427300,17500,0,0,100,4805000,179500,2016
3,Arkansas,200,500,19100,0,320500,12600,0,0,0,2097800,96800,2016
4,California,141500,116700,966700,0,1322600,80600,0,1300,400,27241000,710400,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,Washington,66800,24300,240000,59000,359700,600,100,0,0,5792000,283600,2021
48,West Virginia,1000,1000,14500,13900,129800,200,0,0,0,1268300,46100,2021
49,Wisconsin,9300,7700,93500,39800,556500,700,100,0,0,4639100,143300,2021
50,Wyoming,500,400,5700,17100,59400,100,0,0,0,482400,62100,2021
51,United States,1454400,786800,5491800,2194100,21244900,40800,7600,11800,0,240699500,7110300,2021

In [5]:
ev_gas_df = combined_vehicle_df.copy()

In [6]:
ev_gas_df.dtypes

State                             object
Electric (EV)                      int64
Plug-In Hybrid Electric (PHEV)     int64
Hybrid Electric (HEV)              int64
Biodiesel                          int64
Ethanol/Flex (E85)                 int64
Compressed Natural Gas (CNG)       int64
Propane                            int64
Hydrogen                           int64
Methanol                           int64
Gasoline                           int64
Diesel                             int64
Year                              object
dtype: object

In [7]:
ev_gas_df["Electric_Hybrid_Vehicles_Total"] = ev_gas_df["Electric (EV)"] + ev_gas_df["Plug-In Hybrid Electric (PHEV)"] + ev_gas_df["Hybrid Electric (HEV)"]

In [8]:
ev_gas_df = ev_gas_df.drop(columns = ['Biodiesel', 'Ethanol/Flex (E85)', 'Compressed Natural Gas (CNG)', 'Hydrogen',
                                     'Propane', 'Methanol', 'Diesel'], axis = 1)

In [9]:
ev_gas_df['Total_Vehicles'] = ev_gas_df['Electric_Hybrid_Vehicles_Total'] + ev_gas_df['Gasoline']
ev_gas_df['EV_Hybrid_Ratio'] = ev_gas_df['Electric_Hybrid_Vehicles_Total'] / ev_gas_df['Total_Vehicles']
ev_gas_df

,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Gasoline,Year,Electric_Hybrid_Vehicles_Total,Total_Vehicles,EV_Hybrid_Ratio
0,Alabama,500,900,29100,3777300,2016,30500,3807800,0.008010
1,Alaska,200,200,5000,525900,2016,5400,531300,0.010164
2,Arizona,4700,4400,89600,4805000,2016,98700,4903700,0.020128
3,Arkansas,200,500,19100,2097800,2016,19800,2117600,0.009350
4,California,141500,116700,966700,27241000,2016,1224900,28465900,0.043030
...,...,...,...,...,...,...,...,...,...
47,Washington,66800,24300,240000,5792000,2021,331100,6123100,0.054074
48,West Virginia,1000,1000,14500,1268300,2021,16500,1284800,0.012842
49,Wisconsin,9300,7700,93500,4639100,2021,110500,4749600,0.023265
50,Wyoming,500,400,5700,482400,2021,6600,489000,0.013497
51,United States,1454400,786800,5491800,240699500,2021,7733000,248432500,0.031127

In [10]:
ev_gas_df = ev_gas_df.rename(columns={'Electric (EV)': 'Electric_(EV)', 'Plug-In Hybrid Electric (PHEV)': 'Plug-In_Hybrid_Electric_(PHEV)',
                                     'Hybrid Electric (HEV)': 'Hybrid_Electric_(HEV)'})
ev_gas_df

,State,Electric_(EV),Plug-In_Hybrid_Electric_(PHEV),Hybrid_Electric_(HEV),Gasoline,Year,Electric_Hybrid_Vehicles_Total,Total_Vehicles,EV_Hybrid_Ratio
0,Alabama,500,900,29100,3777300,2016,30500,3807800,0.008010
1,Alaska,200,200,5000,525900,2016,5400,531300,0.010164
2,Arizona,4700,4400,89600,4805000,2016,98700,4903700,0.020128
3,Arkansas,200,500,19100,2097800,2016,19800,2117600,0.009350
4,California,141500,116700,966700,27241000,2016,1224900,28465900,0.043030
...,...,...,...,...,...,...,...,...,...
47,Washington,66800,24300,240000,5792000,2021,331100,6123100,0.054074
48,West Virginia,1000,1000,14500,1268300,2021,16500,1284800,0.012842
49,Wisconsin,9300,7700,93500,4639100,2021,110500,4749600,0.023265
50,Wyoming,500,400,5700,482400,2021,6600,489000,0.013497
51,United States,1454400,786800,5491800,240699500,2021,7733000,248432500,0.031127

In [11]:
ev_gas_df.dtypes

State                              object
Electric_(EV)                       int64
Plug-In_Hybrid_Electric_(PHEV)      int64
Hybrid_Electric_(HEV)               int64
Gasoline                            int64
Year                               object
Electric_Hybrid_Vehicles_Total      int64
Total_Vehicles                      int64
EV_Hybrid_Ratio                   float64
dtype: object

In [12]:
cleaned_df = ev_gas_df[['Year', 'State', 'Electric_(EV)', 'Plug-In_Hybrid_Electric_(PHEV)', 'Hybrid_Electric_(HEV)',
                        'Electric_Hybrid_Vehicles_Total', 'Gasoline', 'Total_Vehicles', 'EV_Hybrid_Ratio'
                      ]]
cleaned_df

,Year,State,Electric_(EV),Plug-In_Hybrid_Electric_(PHEV),Hybrid_Electric_(HEV),Electric_Hybrid_Vehicles_Total,Gasoline,Total_Vehicles,EV_Hybrid_Ratio
0,2016,Alabama,500,900,29100,30500,3777300,3807800,0.008010
1,2016,Alaska,200,200,5000,5400,525900,531300,0.010164
2,2016,Arizona,4700,4400,89600,98700,4805000,4903700,0.020128
3,2016,Arkansas,200,500,19100,19800,2097800,2117600,0.009350
4,2016,California,141500,116700,966700,1224900,27241000,28465900,0.043030
...,...,...,...,...,...,...,...,...,...
47,2021,Washington,66800,24300,240000,331100,5792000,6123100,0.054074
48,2021,West Virginia,1000,1000,14500,16500,1268300,1284800,0.012842
49,2021,Wisconsin,9300,7700,93500,110500,4639100,4749600,0.023265
50,2021,Wyoming,500,400,5700,6600,482400,489000,0.013497
51,2021,United States,1454400,786800,5491800,7733000,240699500,248432500,0.031127

In [13]:
cleaned_df['Year'] = cleaned_df['Year'].astype('int')

In [14]:
# Import cleaned CSV with the summary # of policies in effect, by year
policy_data = pd.read_csv('output/summary_policy_counts_bystate.csv')
policy_data= policy_data.rename(columns = {"Count": "Policy_Count"})
policy_data = policy_data.drop(columns='Unnamed: 0')
policy_data.head()

        State  Policy_Count  Year
0      Alaska             0  2016
1     Alabama             1  2016
2    Arkansas             0  2016
3     Arizona             2  2016
4  California             4  2016

In [15]:
# Merge policy data with cleaned vehicle data
merged_df = pd.merge(cleaned_df, policy_data, on = ["Year", 'State'], how = "left")
merged_df

,Year,State,Electric_(EV),Plug-In_Hybrid_Electric_(PHEV),Hybrid_Electric_(HEV),Electric_Hybrid_Vehicles_Total,Gasoline,Total_Vehicles,EV_Hybrid_Ratio,Policy_Count
0,2016,Alabama,500,900,29100,30500,3777300,3807800,0.008010,1.0
1,2016,Alaska,200,200,5000,5400,525900,531300,0.010164,0.0
2,2016,Arizona,4700,4400,89600,98700,4805000,4903700,0.020128,2.0
3,2016,Arkansas,200,500,19100,19800,2097800,2117600,0.009350,0.0
4,2016,California,141500,116700,966700,1224900,27241000,28465900,0.043030,4.0
...,...,...,...,...,...,...,...,...,...,...
307,2021,Washington,66800,24300,240000,331100,5792000,6123100,0.054074,3.0
308,2021,West Virginia,1000,1000,14500,16500,1268300,1284800,0.012842,1.0
309,2021,Wisconsin,9300,7700,93500,110500,4639100,4749600,0.023265,5.0
310,2021,Wyoming,500,400,5700,6600,482400,489000,0.013497,0.0
311,2021,United States,1454400,786800,5491800,7733000,240699500,248432500,0.031127,NaN

In [16]:
# merged_df = merged_df.apply(lambda x: x.str.encode('utf-8') if x.dtype == 'object' else x)

In [17]:
merged_df.head()

,Year,State,Electric_(EV),Plug-In_Hybrid_Electric_(PHEV),Hybrid_Electric_(HEV),Electric_Hybrid_Vehicles_Total,Gasoline,Total_Vehicles,EV_Hybrid_Ratio,Policy_Count
0,2016,Alabama,500,900,29100,30500,3777300,3807800,0.008010,1.0
1,2016,Alaska,200,200,5000,5400,525900,531300,0.010164,0.0
2,2016,Arizona,4700,4400,89600,98700,4805000,4903700,0.020128,2.0
3,2016,Arkansas,200,500,19100,19800,2097800,2117600,0.009350,0.0
4,2016,California,141500,116700,966700,1224900,27241000,28465900,0.043030,4.0

In [18]:
# Extract to CSV (to merge with scraped data)
merged_df.to_csv('output/vehicle_policy_collection.csv')

In [19]:
# Upload to Server
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://laurengolden:Rutgers123!@atlascluster.hbnzjsz.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi("1"))
# Send a ping to confirm a successful connection
try:
    client.admin.command("ping")
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [20]:
db = client['mydatabase']
db.drop_collection('vehicle_policy_col')
db.list_collection_names()

['avg-gas-electric-prices',
 'us_charge_stations',
 'ev_prices',
 'incentive_data_col',
 'Types of EVs by Brand by Year',
 'avg_price_ev_new']

In [21]:
db = client['mydatabase']
collection = db['vehicle_policy_col']
merged_df.reset_index(inplace=True)
data_dict = merged_df.to_dict('records')
# Insert collection
collection.insert_many(data_dict)